body, div, a, p, ul, li {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

body {
  margin: 20px;
}

.navigation a {
  padding-right: 20px;
}

li {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#userinfo {
  margin-bottom: 15px;
  font-size: 13px;
}

#logout {
  margin-left: 10px;
}
